# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.c
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
*.cover
*.tox/
*.nox/
*.coverage
*.hypothesis/
.noxfile.py
.pytech_cache/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# PyCharm specific
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code specific
.vscode/

# Python virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
